<!DOCTYPE html>
<html>
<head>
  <title>ShoppingCartSample</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all' %>
  <%= javascript_include_tag 'admin/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
